.full-screen {
    height: calc(100vh - (var(--mud-appbar-height) + 110px));
    overflow-y: scroll;
    margin-top: 5px;
}

.content-center {
    position: absolute; 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%,-50%); 
    text-align: center;
}
