.full-screen {
    height: calc(100vh - (var(--mud-appbar-height) + 110px));
    overflow-y: scroll;
    margin-top: 5px;
}

.content-center {
    position: absolute; 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%,-50%); 
    text-align: center;
}

.blackout {
    backdrop-filter: blur(10px);
}

.wrapper_week_plan {
    display: grid;
    grid-template-columns: auto 115px 90px;
    justify-content: start;
}

.wrapper_current_fact {
    display: grid;
    grid-template-columns: auto 115px 25px;
    justify-content: start;
}

.wrapper_fact {
    display: grid;
    grid-template-columns: auto 115px 15px;
    justify-content: start;
}