@page "/welcome"

<MudPaper Class="m-2" Style="background-color:#ADD8E6; padding:60px">
    <MudStack>
        <div class="d-flex justify-center align-center">
            <MudIcon Icon="@Icons.Material.Filled.Troubleshoot" Color="Color.Success" Style="height:130px; width:130px; position:static"/>
        </div>
        <MudText Color="Color.Surface" GutterBottom="true" Typo="Typo.h5" Align="Align.Center">Добро пожаловать в Planner</MudText>
    </MudStack>
    <div class="d-flex justify-center align-center">
        <MudButton Color="Color.Success" Variant="Variant.Filled" OnClick="@(async() => await CreateCompanyAsync())" Class="m-2">@AddButtonText</MudButton>
    </div>
</MudPaper>

